<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody id="artists">
    <%= render @artists %>
  </tbody>
</table>

<%= form_with(model: @artist) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>

<%# <%= link_to 'New Artist', new_artist_path %> %>
