<p id="notice"><%= notice %></p>

<h1><%= @artist.name %></h1>

<p>
Genres: <%= @spotify_artist['genres'].reduce { |mem, n| "#{mem}, #{n}" } %>
</p>

<% if @spotify_artist['images'].length > 0 %>
  <%= image_tag @spotify_artist['images'].first['url'] %>
<% end %>

<br />


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
