<!DOCTYPE html>
<html>
  <head>
    <title>Example1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filepicker_js_include_tag %>
  </head>

  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand" href="/">Musicfy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/artists">Artists</a>
              <li class="nav-item">
              <% if current_user%>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link'%>
              <% end %>
              </li>
            </li>
          </ul>
          <span class="navbar-text">
            Definitivamente no es S*****y
          </span>
        </div>
      </div>
    </nav>

    <div class="container">

    <% flash.each do |key, value| %>
      <% case key %>
      <% when "notice" %>
        <div class="alert alert-success">
      <% when "alert" %>
        <div class="alert alert-danger">
      <% else %>
        <div class='alert alert-primary alert-<%= "#{key}" %>'>
      <% end %>
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

    </div>
  </body>
</html>
